#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  padding: 10px;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 20px;
}

.error-bear-container {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;

  p {
    padding-left: 1rem;
    color: rgb(239 68 68);
  }
}
