#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.url-input {
  width: 700px;
}

.fights-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fights-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  gap: 20px;
}

.checkbox-fight {
  display: flex;
  justify-content: center;
  margin: 6px;

  label {
    border: 2px solid;
    padding: 2px;
    border-radius: 5px;
    min-width: 220px;
  }
  label:hover {
    transform: scale(1.08);
    transition: transform 0.1s;
  }

  input[type="checkbox"]:checked + label {
    border-color: white;
  }
  input {
    accent-color: #00ff98;
    display: none;
  }

  .flavor-text {
    color: darkgray;
    font-size: 14px;
    font-style: italic;
  }
}

#fight-wipe {
  color: #a335ee;
}

#fight-kill {
  color: #80e666;
}

.pumpers-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.pumperTable {
  background: #302e2e;
  border-spacing: 0;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid #6f6f6f;
    padding: 4px 12px;
    text-align: center;
  }
}

.DeathKnight {
  color: #c41f3b !important;
}
.Druid {
  color: #ff7d0a !important;
}
.Hunter {
  color: #abd473 !important;
}
.Mage {
  color: #69ccf0 !important;
}
.Monk {
  color: #00ff98 !important;
}
.Paladin {
  color: #f58cba !important;
}
.Priest {
  color: #ffffff !important;
}
.Rogue {
  color: #fff569 !important;
}
.Shaman {
  color: #2459ff !important;
}
.Warlock {
  color: #9482c9 !important;
}
.Warrior {
  color: #c79c6e !important;
}
.DemonHunter {
  color: #a330c9 !important;
}
.Evoker {
  color: #33937f !important;
}
